# for inference
accelerate
transformers==5.18.0
diffusers==0.40.0
opencv-python
huggingface-hub
numpy
pyexr
gdown
sentencepiece
protobuf
peft==0.21.2
einops
HDRutils

# for training
toml
imagesize
voluptuous
wandb
bitsandbytes
datasets

# for eval
DISTS_pytorch